.resultsWrapper {
  display: flex;
  justify-content: center;
}

.resultsBox {
  width: 700px;
}

.modeBox {
  display: flex;
  margin-top: 1.2ex;
}

.mode {
  padding: 0ex 1ex 0ex 0ex;
  user-select: none;
}

.modeActive {
  color: #000;
  font-weight: bold;
}

.modeInactive {
  color: #888;
}

.totalLabel {
  color: #888;
  margin-left: auto;
}

.resultBox {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  width: 95%;
}

.headerBox {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
}

.imgTitle {
  text-decoration: solid;
  color: black;
  font-weight: medium;
  font-size: large;
}

.imgContent {
  padding: 2ex 0ex 2ex 0ex;
}

.pageTitle {
  text-decoration: solid;
  color: black;
  font-weight: bold;
  font-size: x-large;
}

.pageKeywords {
  margin-top: 0.5ex;
  font-size: smaller;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
}

.loader {
  user-select: none;
  margin-top: 1ex;
  background-color: #eee;
}
