{
    "request_timeout": "5s",
    "targets_cap": 1000,
    "use_web_interface": true,
    "web_interface_port": 8081,
    "generate_random_targets": true,
    "log_to_console": true,
    "unsafe": false
}